* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 0px;
  height: 0px;
}

h4 {
  color: #5e5873;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  margin: 0 0 14px;
  font-weight: 500;
}

label {
  display: inline-block;
  margin: 0 0 3px 0;
  color: #5e5873;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
input {
  padding: 7px 14px 7px 14px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

span {
  border: 0.667px;
  padding: 7px 14px;
  display: block;
  width: 14px;
  height: 20px;
}

.main {
  background-image: url(/img/Frame.svg),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(
      125.92deg,
      #020c59 9.05%,
      #04115d 28.03%,
      #091f6a 49.85%,
      #11367f 72.97%,
      #1a4f96 100%
    );
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}
.content_body {
  padding: 7px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_form {
  margin: 21px 0px;
}

.container {
  padding: 21px;
  background-color: #fff;
  width: 400px;
  height: 431px;
}

.logo_login {
  text-align: center;
  width: 183;
  height: 60;
}

.frm_login {
  width: 358px;
  height: 61px;
}

.content_ip_login {
  margin: 0 0 14px;
}

.element_lb_pw {
  display: flex;
  justify-content: space-between !important;
  margin: 0 0 3px;
}

.element_input_pw {
  justify-content: space-between !important;
}

.element_img_hidden {
  width: 19px;
  height: 19px;
}

.content_remember {
  height: 20.29px;
}

.content_cbx {
  height: 19px;
}

.input_cbx_lg {
  width: 19px;
  height: 19px;
  vertical-align: middle;
  position: relative;
  bottom: 1px;
  padding: 0 0 0 24px;
}
/* .remember_lb_lg{
  letter-spacing: 0.01rem;
  color: #6e6b7b;
  font-weight: 400;
  align-items: center;
  margin: 0;

} */

.remember_lb {
  display: block;
  margin: 0;
  letter-spacing: 0.01rem;
  color: #6e6b7b;
  font-weight: 400;
}

.img_hidden {
  width: 14px;
  height: 14px;
}

input,
textarea {
  font: inherit;
}

.input-group {
  display: table;
  border-collapse: collapse;
  position: relative;
  width: 100%;
}

.input-group > * {
  display: table-cell;
  vertical-align: middle;
}

.content_remember {
  margin: 0 0 14px;
}

.btn_login {
  width: 100%;
  height: 37.33px;
  padding: 11px 24px;
  margin: 0.667px;
  text-align: center;
  border-radius: 0.365rem;
  border: 1px;
  background-color: #114a9f;
  color: #fff;
  font-size: 14px;
}

a {
  color: #114a9f;
  height: 21px;
}

.tag_ip_pw {
}

.element_img_hidden {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}


.lg_register{
  margin: 24px 0 14px;
  text-align: center;
}


